Repository TencentBlueKing/bk-ci, pull requests merged in 2020-07, with the labels that each got.

#2163 doc: 部署文档国际化
  .github/issue-rules.yml
  .github/workflows/labeler.yml
  CONTRIBUTING.en.md
  README.md
  README_EN.md
  docs/VERSION.md
  docs/install/agent.en.md
  docs/install/backend.en.md
  docs/install/consul.en.md
  docs/install/frontend.en.md
  docs/install/gateway.en.md
  docs/install/rabbitmq.en.md
  docs/overview/architecture.en.md
  docs/overview/code_framework.en.md
  docs/overview/design.en.md
  docs/overview/installation.en.md
  docs/overview/source_compile.en.md
  docs/specification/commit-spec.en.md
  docs/specification/review.en.md
  version.md
Labels: kind/chore, kind/docs

#2213 docs: 文档国际化
  docs/install/agent.en.md
  docs/install/backend.en.md
  docs/install/frontend.en.md
  docs/install/gateway.en.md
  docs/install/rabbitmq.en.md
  docs/overview/architecture.en.md
  docs/overview/architecture.md
Labels: kind/docs

#2197 feature: 执行历史增加触发信息字段 #1644
  src/backend/ci/core/common/common-api/src/main/kotlin/com/tencent/devops/common/api/pojo/ErrorCode.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/BuildHistory.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/code/ScmWebhookMatcher.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/code/WebhookInfo.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/utils/Constants.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/dao/PipelineBuildDao.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/service/PipelineBuildWebhookService.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/service/PipelineRuntimeService.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/service/code/GitWebHookMatcher.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/service/code/GithubWebHookMatcher.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/service/code/GitlabWebHookMatcher.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/service/code/SvnWebHookMatcher.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/utils/QualityUtils.kt
  support-files/sql/1001_ci_process_ddl_mysql.sql
  support-files/sql/2004_ci_process-update_v1.2_mysql.sql
Labels: area/ci/backend, area/ci/frontend
