Repository TencentBlueKing/bk-ci, pull requests merged in 2020-09, with the labels that each got.

#2471 bug: websocket队列挤压问题优化 #2153
  src/backend/ci/core/common/common-service/src/main/kotlin/com/tencent/devops/common/service/utils/LogUtils.kt
  src/backend/ci/core/common/common-websocket/src/main/kotlin/com/tencent/devops/common/websocket/dispatch/WebSocketDispatcher.kt
  src/backend/ci/core/common/common-websocket/src/main/kotlin/com/tencent/devops/common/websocket/dispatch/message/PipelineMessage.kt
  src/backend/ci/core/common/common-websocket/src/main/kotlin/com/tencent/devops/common/websocket/utils/RedisUtlis.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/websocket/push/DetailWebsocketPush.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/websocket/push/HistoryWebsocketPush.kt
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/websocket/push/StatusWebsocketPush.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/configuration/WebSocketConfig.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/configuration/WebsocketConfiguration.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/controller/UserWebsocketResourceImpl.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/cron/ClearTimeoutCron.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/handler/BKHandshakeInterceptor.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/handler/ConnectChannelInterceptor.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/handler/SessionHandler.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/handler/SessionWebSocketHandlerDecoratorFactory.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/keys/WebsocketKeys.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/listener/WebSocketListener.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/lock/WebsocketCronLock.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/servcie/WebsocketService.kt
  src/backend/ci/core/websocket/biz-websocket/src/main/kotlin/com/tencent/devops/websocket/utils/HostUtils.kt
  src/backend/ci/core/websocket/biz-websocket/src/test/kotlin/com/tencent/devops/websocket/utils/HostUtilsTest.kt
Labels: area/ci/backend, test/passed

#2526 bug: 修复空白流水线的部分字段显示为中文 #2524
  support-files/sql/5001_ci_process-init_ddl_mysql.sql
Labels: kind/bug, test/passed

#2539 feature: 动态参数组件支持连接符参数 issue #2534
  src/frontend/devops-pipeline/src/components/AtomFormComponent/DynamicParameter/parameterInput.vue
Labels: area/ci/frontend, kind/enhancement, test/passed

#2438 feature: 流水线历史记录中展示的代码原材料按字符串首字母排序 #2435
  src/backend/ci/core/process/biz-process/src/main/kotlin/com/tencent/devops/process/engine/service/PipelineRuntimeService.kt
Labels: area/ci/backend, test/passed

#2502 bug: environment db问题 #2369
  src/backend/ci/core/environment/biz-environment/src/main/kotlin/com/tencent/devops/environment/dao/thirdPartyAgent/ThirdPartyAgentDao.kt
  src/backend/ci/core/environment/biz-environment/src/main/kotlin/com/tencent/devops/environment/service/thirdPartyAgent/ThirdPartyAgentMgrService.kt
Labels: area/ci/backend, kind/feat/tech, test/passed

#2578 feature:字符串类型的流水线变量支持换行 #2116
  src/backend/ci/core/common/common-pipeline/src/main/kotlin/com/tencent/devops/common/pipeline/enums/BuildFormPropertyType.kt
Labels: area/ci/backend, test/passed

#2544 bugfix: 在工作台删除某个插件后，无法重复创建同名插件 issue #1334
  src/frontend/devops-atomstore/src/views/workList/atom.vue
  src/frontend/locale/store/en-US.json
  src/frontend/locale/store/zh-CN.json
Labels: area/ci/frontend
