Repository TencentBlueKing/bk-ci, pull requests merged in 2021-03, with the labels that each got.

#3628 人工审核自定义变量调整
  src/frontend/devops-pipeline/src/components/AtomFormComponent/DefineParam/index.vue
  src/frontend/devops-pipeline/src/components/AtomFormComponent/notifyType/index.vue
  src/frontend/devops-pipeline/src/components/AtomPropertyPanel/AtomContent.vue
  src/frontend/devops-pipeline/src/components/AtomPropertyPanel/ManualReviewUserTask.vue
  src/frontend/devops-pipeline/src/components/AtomPropertyPanel/atomMixin.js
  src/frontend/devops-pipeline/src/components/ContainerPropertyPanel/BuildParams.vue
  src/frontend/devops-pipeline/src/components/Stages/AtomList.vue
  src/frontend/devops-pipeline/src/components/Stages/CheckAtomDialog.vue
  src/frontend/locale/pipeline/en-US.json
  src/frontend/locale/pipeline/zh-CN.json
Labels: test/passed

#3644 Stage准入审核倒计时文案优化
  src/frontend/locale/pipeline/zh-CN.json
Labels: area/codecc/frontend, test/passed

#3838 feat: 红线OPENAPI GATEWAYID字段和模板范围调整 #3835
  src/backend/ci/core/quality/api-quality/src/main/kotlin/com/tencent/devops/quality/api/v2/pojo/response/QualityRuleSummaryWithPermission.kt
  src/backend/ci/core/quality/biz-quality/src/main/kotlin/com/tencent/devops/quality/service/v2/QualityRuleService.kt
Labels: area/ci/backend, area/qualitygate/backend, kind/feat/product, stage/test, test/passed

#3851 人工审核审核时，变量名称hover展示对应的变量描述
  src/frontend/devops-pipeline/src/components/Stages/CheckAtomDialog.vue
  src/frontend/devops-pipeline/src/components/atomFormField/atomFieldMixin.js
Labels: test/passed

#3868 feature: 批量更新流水线实例交互优化 issue #3602
  src/frontend/devops-pipeline/src/views/template/instance.vue
  src/frontend/devops-pipeline/src/views/template/instance_create.vue
Labels: area/ci/frontend, test/passed
