Repository TencentBlueKing/bk-ci, pull requests merged in 2021-09, with the labels that each got.

#5101 feat: 维度的质量红线跳转需要自动进行快照筛选 issue #5099
  src/backend/ci/core/plugin/biz-plugin/src/main/kotlin/com/tencent/devops/plugin/utils/QualityUtils.kt
  src/backend/ci/core/quality/api-quality/src/main/kotlin/com/tencent/devops/quality/constant/CodeccConstants.kt
Labels: stage/test

#5207 feat: 质量红线服务创建的规则加上指标类型校验 #5204
  src/backend/ci/core/quality/biz-quality/src/main/kotlin/com/tencent/devops/quality/service/v2/QualityRuleBuildHisService.kt
Labels: stage/test, test/passed, area/qualitygate/backend, streams/test/passed

#5202 feat: 插件发布操作做成幂等 #5201
  src/backend/ci/core/quality/biz-quality/src/main/kotlin/com/tencent/devops/quality/dao/v2/QualityControlPointDao.kt
  src/backend/ci/core/store/biz-store/src/main/kotlin/com/tencent/devops/store/service/atom/impl/AtomQualityServiceImpl.kt
Labels: stage/test, area/ci/backend, test/passed, area/qualitygate/backend
