Repository TencentBlueKing/bk-ci, pull requests merged in 2022-02, with the labels that each got.

#5540 feat: 优化agent启动构建时避免写死Bash shell #5304
  src/agent/src/cmd/agent/main.go
  src/agent/src/cmd/daemon/main.go
  src/agent/src/cmd/daemon/main_win.go
  src/agent/src/cmd/upgrader/main.go
  src/agent/src/pkg/agent/agent.go
  src/agent/src/pkg/api/api.go
  src/agent/src/pkg/api/api_test.go
  src/agent/src/pkg/api/type.go
  src/agent/src/pkg/collector/collector.go
  src/agent/src/pkg/config/config.go
  src/agent/src/pkg/config/config_test.go
  src/agent/src/pkg/config/constant.go
  src/agent/src/pkg/config/version.go
  src/agent/src/pkg/cron/cron.go
  src/agent/src/pkg/cron/cron_test.go
  src/agent/src/pkg/heartbeat/heartbeat.go
  src/agent/src/pkg/installer/installer_test.go
  src/agent/src/pkg/job/build.go
  src/agent/src/pkg/job/build_manager.go
  src/agent/src/pkg/job/build_manager_test.go
  src/agent/src/pkg/job/build_test.go
  src/agent/src/pkg/pipeline/pipeline.go
  src/agent/src/pkg/pipeline/type.go
  src/agent/src/pkg/upgrade/operation.go
  src/agent/src/pkg/upgrade/operation_test.go
  src/agent/src/pkg/upgrade/upgrade.go
  src/agent/src/pkg/upgrade/upgrade_test.go
  src/agent/src/pkg/upgrader/upgrader.go
  src/agent/src/pkg/upgrader/upgrader_test.go
  src/agent/src/pkg/util/command/command.go
  src/agent/src/pkg/util/command/command_test.go
  src/agent/src/pkg/util/command/user.go
  src/agent/src/pkg/util/command/user_win.go
  src/agent/src/pkg/util/fileutil/fileutil.go
  src/agent/src/pkg/util/fileutil/fileutil_test.go
  src/agent/src/pkg/util/httputil/devops.go
  src/agent/src/pkg/util/httputil/devops_test.go
  src/agent/src/pkg/util/httputil/httputil.go
  src/agent/src/pkg/util/systemutil/systemutil.go
  src/agent/src/pkg/util/systemutil/systemutil_test.go
  src/agent/src/pkg/util/util.go
  src/backend/ci/core/worker/worker-agent/src/main/kotlin/com/tencent/devops/agent/runner/WorkRunner.kt
  src/backend/ci/core/worker/worker-common/src/main/kotlin/com/tencent/devops/worker/common/Constants.kt
  support-files/agent-package/config/.agent.properties
Labels: test/passed

#6181 bug：下载插件超时问题 fix #6178
  src/backend/ci/core/common/common-util/src/main/kotlin/com/tencent/devops/common/util/HttpRetryUtils.kt
  src/backend/ci/core/worker/worker-common/src/main/kotlin/com/tencent/devops/worker/common/api/AbstractBuildResourceApi.kt
Labels: kind/bug, stage/test, area/ci/backend, area/ci/agent, test/passed

#6211 feat: sla信息上报支持环境分割 #6197
  src/backend/ci/core/common/common-dispatch-sdk/src/main/kotlin/com/tencent/devops/common/dispatch.sdk/config/SDKConfiguration.kt
  src/backend/ci/core/common/common-dispatch-sdk/src/main/kotlin/com/tencent/devops/common/dispatch.sdk/service/DispatchService.kt
  src/backend/ci/core/common/common-dispatch-sdk/src/main/kotlin/com/tencent/devops/common/dispatch.sdk/utils/ChannelUtils.kt
Labels: stage/test, kind/enhancement, area/ci/backend, area/ci/dispatcher, test/passed
