Repository TencentBlueKing/bk-ci, pull requests merged in 2022-05, with the labels that each got.

#6810 feat:对接前端接口 1、跳转查看yaml链接。2、人员选择器接口 #6772
  src/backend/ci/core/stream/api-stream/src/main/kotlin/com/tencent/devops/stream/api/user/UserStreamGitResource.kt
  src/backend/ci/core/stream/api-stream/src/main/kotlin/com/tencent/devops/stream/pojo/StreamGitProjectPipeline.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/dao/GitRequestEventBuildDao.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/resources/user/UserStreamGitResourceImpl.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/service/StreamPipelineService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/service/StreamRequestService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/StreamTriggerRequestService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/actions/streamActions/StreamDeleteAction.kt
Labels: tested, area/stream/backend

#6805 bug: 无编译环境长时间待机容器回收机制bugfix #6786
  src/backend/ci/core/buildless/biz-buildless/src/main/kotlin/com/tencent/devops/buildless/ContainerPoolExecutor.kt
  src/backend/ci/core/buildless/biz-buildless/src/main/kotlin/com/tencent/devops/buildless/client/DispatchClient.kt
  src/backend/ci/core/buildless/biz-buildless/src/main/kotlin/com/tencent/devops/buildless/service/BuildLessContainerService.kt
  src/backend/ci/core/buildless/biz-buildless/src/main/kotlin/com/tencent/devops/buildless/utils/RedisUtils.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/service/PipelineAgentLessDispatchService.kt
Labels: kind/bug, for test, area/ci/backend, tested

#6792 feat: 修改common yaml相关逻辑 #6672
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/modelCreate/ModelContainer.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/modelCreate/ModelElement.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/modelCreate/inner/InnerModelCreator.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/modelCreate/inner/ModelCreateEvent.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/v2/models/Concurrency.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/v2/models/PreScriptBuildYaml.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/v2/models/PreTemplateScriptBuildYaml.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/v2/models/ScriptBuildYaml.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/v2/parsers/template/YamlObjects.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/main/kotlin/com/tencent/devops/process/yaml/v2/utils/ScriptYmlUtils.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/test/kotlin/com/tencent/devops/process/yaml/parsers/CiYamlUtilsTest.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/test/kotlin/com/tencent/devops/process/yaml/parsers/template/YamlTemplateTest.kt
  src/backend/ci/core/process/common-pipeline-yaml/src/test/kotlin/com/tencent/devops/process/yaml/parsers/utils/ScriptYmlUtilsTest.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/parsers/modelCreate/InnerModelCreatorImpl.kt
Labels: for test, area/ci/backend, tested
