Repository TencentBlueKing/bk-ci, changes with the owners that CODEOWNERS names for each.
All owners: @irwinsun, @mingshewhe, @stubenhuang, @zanyzhao, @fighter-liu, @tangruotian, @lockiechen, @zhanxu33, @carlyin0801, @royalhuang, @randychen2046

CODEOWNERS:

# Where component owners are known, add them here.
/.github @irwinsun @mingshewhe @stubenhuang 
/CODEOWNERS @irwinsun @zanyzhao @stubenhuang 
/docs @zanyzhao @irwinsun @stubenhuang 
/*.md @zanyzhao @irwinsun
/scripts @fighter-liu @irwinsun @stubenhuang
/src/agent @irwinsun @tangruotian
/src/gateway @stubenhuang @irwinsun
/src/frontend @lockiechen @zhanxu33
/support-files @irwinsun @mingshewhe @stubenhuang
/src/backend/ci @irwinsun @mingshewhe @stubenhuang @carlyin0801 @royalhuang @randychen2046 @tangruotian

feat：流水线构建详情页重构需求 issue #7983 修复变量名问题
  src/app/android/app/src/main/kotlin/com/example/bkci_app/MainActivity.kt
Owners: none

--story=883811131 优化：调用devcloud接口判断pod是否可用逻辑优化；灰度&生产环境的定时任务，redis锁分离
  src/backend/ci/ext/tencent/remotedev/biz-remotedev-tencent/src/main/kotlin/com/tencent/devops/remotedev/filter/impl/IpFilter.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

--story=883772723 接口：支持registry facade镜像制作，返回 各层最新的镜像信息
  src/backend/ci/ext/tencent/remotedev/biz-remotedev-tencent/src/test/kotlin/com/tencent/devops/remotedev/service/WorkspaceServiceTest.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat：流水线构建详情页重构需求 issue #7983 修复取消状态
  src/backend/ci/core/process/biz-base/src/main/kotlin/com/tencent/devops/process/engine/service/record/PipelineBuildRecordService.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

--story=883811131 优化：调用devcloud接口判断pod是否可用逻辑优化；灰度&生产环境的定时任务，redis锁分离
  src/backend/ci/ext/tencent/remotedev/biz-remotedev-tencent/src/main/kotlin/com/tencent/devops/remotedev/filter/impl/IpFilter.kt
  src/backend/ci/ext/tencent/remotedev/biz-remotedev-tencent/src/test/kotlin/com/tencent/devops/remotedev/filter/impl/IpFilterTest.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat：流水线构建详情页重构需求 issue #7983 修复取消状态
  src/backend/ci/core/process/biz-base/src/main/kotlin/com/tencent/devops/process/engine/service/record/PipelineBuildRecordService.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat: 蓝盾对接权限中心RBAC #7794
  src/backend/ci/core/auth/biz-auth-rbac/src/main/kotlin/com/tencent/devops/auth/service/migrate/MigrateV3PolicyService.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

hotfix: metrics & manage cdn处理
  src/frontend/devops-manage/.bk.development.env
  src/frontend/devops-manage/src/main.ts
Owners: @lockiechen, @zhanxu33

feat: 蓝盾对接权限中心RBAC #7794
  src/backend/ci/core/auth/biz-auth-rbac/src/main/kotlin/com/tencent/devops/auth/service/migrate/MigrateResourceService.kt
  src/backend/ci/core/auth/biz-auth-rbac/src/main/kotlin/com/tencent/devops/auth/service/migrate/MigrateV3PolicyService.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat：流水线构建详情页重构需求 issue #7983 修复取消状态
  src/backend/ci/core/process/biz-base/src/main/kotlin/com/tencent/devops/process/dao/record/BuildRecordStageDao.kt
  src/backend/ci/core/process/biz-base/src/main/kotlin/com/tencent/devops/process/engine/service/record/PipelineBuildRecordService.kt
  src/backend/ci/core/process/biz-base/src/main/kotlin/com/tencent/devops/process/engine/service/record/TaskBuildRecordService.kt
  src/backend/ci/core/process/biz-engine/src/main/kotlin/com/tencent/devops/process/engine/listener/run/PipelineTaskPauseListener.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

hotfix: permission cdn处理
  src/frontend/devops-permission/.bk.development.env
  src/frontend/devops-permission/.bk.production.env
  src/frontend/devops-permission/bk.config.js
  src/frontend/devops-permission/index.html
  src/frontend/devops-permission/src/entry.ts
  src/frontend/devops-permission/src/main.ts
  src/frontend/devops-permission/src/public-path.ts
  src/frontend/devops-permission/types/global.d.ts
Owners: @lockiechen, @zhanxu33

--story=879902565 【devopsRemoting】服务开发
  src/backend/devopsRemoting/src/common/devops/devops.go
  src/backend/devopsRemoting/src/common/devops/remotedev.go
  src/backend/devopsRemoting/src/registry-facade/manifests/chart/Chart.yaml
  src/backend/devopsRemoting/src/registry-facade/manifests/chart/templates/configmap.yaml
  src/backend/devopsRemoting/src/registry-facade/manifests/chart/values.yaml
  src/backend/devopsRemoting/src/registry-facade/pkg/config/config.go
  src/backend/devopsRemoting/src/registry-facade/pkg/registry/imagecfg.go
  src/backend/devopsRemoting/src/registry-facade/pkg/registry/registry.go
  src/backend/devopsRemoting/src/remoting/pkg/thirdpartapi/serverapi.go
  src/backend/devopsRemoting/src/remoting/pkg/thirdpartapi/thirdpartapi.go
  src/backend/devopsRemoting/src/remoting/pkg/thirdpartapi/types.go
  src/backend/devopsRemoting/src/wsproxy/cmd/run.go
  src/backend/devopsRemoting/src/wsproxy/pkg/clients/backend.go
  src/backend/devopsRemoting/src/wsproxy/pkg/clients/clients.go
  src/backend/devopsRemoting/src/wsproxy/pkg/clients/devopsremoting.go
  src/backend/devopsRemoting/src/wsproxy/pkg/proxy/infoprovider.go
  src/backend/devopsRemoting/src/wsproxy/pkg/proxy/proxy.go
  src/backend/devopsRemoting/src/wsproxy/pkg/sshproxy/heartbeat.go
Owners: none

hotfix: permission cdn处理
  src/frontend/devops-permission/bk.config.js
Owners: @lockiechen, @zhanxu33

feat: 蓝盾对接权限中心RBAC #7794
  src/backend/ci/core/auth/biz-auth-rbac/src/main/kotlin/com/tencent/devops/auth/service/migrate/MigrateResourceService.kt
  support-files/sql/5001_init_dml/5001_ci_project-init_dml_mysql.sql
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

--story=879902565 【devopsRemoting】服务开发
  src/backend/devopsRemoting/src/registry-facade/manifests/chart/Chart.yaml
  src/backend/devopsRemoting/src/registry-facade/manifests/chart/templates/configmap.yaml
Owners: none

--story=879902565 【devopsRemoting】服务开发
  src/backend/devopsRemoting/src/registry-facade/pkg/registry/http_client_test.go
  src/backend/devopsRemoting/src/registry-facade/pkg/registry/layersource.go
  src/backend/devopsRemoting/src/registry-facade/pkg/registry/layersource_test.go
Owners: none

[bug] 质量红线模块表格为空 #8685
  src/frontend/devops-quality/src/components/devops/template-list.vue
Owners: @lockiechen, @zhanxu33

feat: 引擎等MQ场景接入SCS框架 #7443
  src/backend/ci/core/common/common-dispatch-sdk/src/main/kotlin/com/tencent/devops/common/dispatch.sdk/config/SDKConfiguration.kt
  src/backend/ci/core/common/common-dispatch-sdk/src/main/kotlin/com/tencent/devops/common/dispatch.sdk/service/DispatchService.kt
  src/backend/ci/core/common/common-dispatch-sdk/src/main/kotlin/com/tencent/devops/common/dispatch.sdk/service/JobQuotaService.kt
  src/backend/ci/core/common/common-event/src/main/kotlin/com/tencent/devops/common/stream/constants/StreamBinding.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/client/BuildLessClient.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/client/DockerHostClient.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/config/AgentLessMQConfiguration.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/config/BuildLessMQConfiguration.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/config/DispatchDockerMQConfiguration.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/listener/AgentLessListener.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/listener/DockerVMListener.kt
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/service/PipelineAgentLessDispatchService.kt
  src/backend/ci/core/dispatch-kubernetes/common-dispatch-kubernetes/src/main/kotlin/com/tencent/devops/dispatch/kubernetes/config/DispatchKubernetesMQConfiguration.kt
  src/backend/ci/core/dispatch-kubernetes/common-dispatch-kubernetes/src/main/kotlin/com/tencent/devops/dispatch/kubernetes/service/DispatchBuildService.kt
  src/backend/ci/core/dispatch/biz-dispatch/src/main/kotlin/com/tencent/devops/dispatch/configuration/DispatchConfiguration.kt
  src/backend/ci/core/dispatch/biz-dispatch/src/main/kotlin/com/tencent/devops/dispatch/service/PipelineDispatchService.kt
  src/backend/ci/core/dispatch/biz-dispatch/src/main/kotlin/com/tencent/devops/dispatch/service/dispatcher/Dispatcher.kt
  src/backend/ci/core/dispatch/biz-dispatch/src/main/kotlin/com/tencent/devops/dispatch/service/dispatcher/agent/DispatchService.kt
  src/backend/ci/core/dispatch/biz-dispatch/src/main/kotlin/com/tencent/devops/dispatch/service/dispatcher/agent/ThirdPartyAgentDispatcher.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/engine/atom/AtomResponse.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/mq/IDispatchEvent.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/mq/PipelineAgentShutdownDemoteEvent.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/mq/PipelineAgentShutdownEvent.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/mq/PipelineAgentStartupDemoteEvent.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/mq/PipelineBuildLessShutdownEvent.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/mq/PipelineBuildLessStartupEvent.kt
  src/backend/ci/core/process/biz-engine/src/main/kotlin/com/tencent/devops/process/engine/atom/IAtomTask.kt
  src/backend/ci/core/process/biz-engine/src/main/kotlin/com/tencent/devops/process/engine/atom/vm/DispatchBuildLessDockerShutdownTaskAtom.kt
  src/backend/ci/core/process/biz-engine/src/main/kotlin/com/tencent/devops/process/engine/atom/vm/DispatchBuildLessDockerStartupTaskAtom.kt
  src/backend/ci/core/process/biz-engine/src/main/kotlin/com/tencent/devops/process/engine/atom/vm/DispatchVMShutdownTaskAtom.kt
  src/backend/ci/core/process/biz-engine/src/main/kotlin/com/tencent/devops/process/engine/atom/vm/DispatchVMStartupTaskAtom.kt
  src/backend/ci/core/process/biz-engine/src/main/kotlin/com/tencent/devops/process/engine/control/BuildCancelControl.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

[bug] 质量红线模块表格为空 #8685
  src/frontend/devops-nav/src/index.html
  src/frontend/devops-nav/webpack.config.js
  src/frontend/devops-pipeline/index.html
  src/frontend/devops-pipeline/webpack.config.js
  src/frontend/devops-quality/src/components/devops/template-list.vue
Owners: @lockiechen, @zhanxu33

hotfix: permission cdn处理
  src/frontend/devops-quality/src/components/devops/template-list.vue
Owners: @lockiechen, @zhanxu33

[bug] 质量红线模块表格为空 #8685
  src/frontend/devops-pipeline/index.html
Owners: @lockiechen, @zhanxu33

feat: 蓝盾对接权限中心RBAC #7794
  src/backend/ci/core/auth/biz-auth-rbac/src/main/kotlin/com/tencent/devops/auth/service/migrate/MigrateV3PolicyService.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

--story=883811131 优化：调用devcloud接口判断pod是否可用逻辑优化；灰度&生产环境的定时任务，redis锁分离
  src/backend/ci/ext/tencent/remotedev/biz-remotedev-tencent/src/main/kotlin/com/tencent/devops/remotedev/filter/impl/IpFilter.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat: 引擎等MQ场景接入SCS框架 #7443 修复格式
  src/backend/ci/core/dispatch-docker/biz-dispatch-docker/src/main/kotlin/com/tencent/devops/dispatch/docker/client/DockerHostClient.kt
  src/backend/ci/core/dispatch/biz-dispatch/src/main/kotlin/com/tencent/devops/dispatch/service/dispatcher/agent/ThirdPartyAgentDispatcher.kt
  src/backend/ci/core/process/api-process/src/main/kotlin/com/tencent/devops/process/pojo/mq/IDispatchEvent.kt
  src/backend/ci/core/process/biz-engine/src/main/kotlin/com/tencent/devops/process/engine/atom/vm/DispatchVMStartupTaskAtom.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat: 引擎等MQ场景接入SCS框架 #7443 补充quality
  src/backend/ci/core/quality/biz-quality/src/main/kotlin/com/tencent/devops/quality/config/QualityMQConfig.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat：流水线构建详情页重构需求 issue #7983
  src/frontend/devops-nav/package.json
  src/frontend/devops-nav/src/assets/static/vue-router.min.js
  src/frontend/devops-pipeline/package.json
  src/frontend/devops-pipeline/src/components/BuildHistoryTab/index.vue
  src/frontend/devops-pipeline/src/components/BuildHistoryTable/index.vue
  src/frontend/devops-pipeline/src/components/ExecDetail/Summary.vue
  src/frontend/devops-pipeline/src/components/ExecPipeline.vue
  src/frontend/devops-pipeline/src/components/PipelineHeader/PreviewHeader.vue
  src/frontend/devops-pipeline/src/utils/pipelineConst.js
  src/frontend/locale/pipeline/en-US.json
  src/frontend/svg-sprites/pipeline/error-plugin.svg
  src/frontend/svg-sprites/pipeline/error-user.svg
  src/frontend/svg-sprites/pipeline/error.system.svg
Owners: @lockiechen, @zhanxu33

feat: 引擎等MQ场景接入SCS框架 #7443 去掉弃用config
  src/backend/ci/core/common/common-dispatch-sdk/src/main/kotlin/com/tencent/devops/common/dispatch.sdk/config/MQConfiguration.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

pref:蓝盾国际化方案优化 #8211
  src/backend/ci/core/notify/api-notify/src/main/kotlin/com/tencent/devops/notify/pojo/messageTemplate/EmailMessageTemplate.kt
  src/backend/ci/core/notify/api-notify/src/main/kotlin/com/tencent/devops/notify/pojo/messageTemplate/MessageTemplate.kt
  src/backend/ci/core/notify/api-notify/src/main/kotlin/com/tencent/devops/notify/pojo/messageTemplate/MoaMessageTemplate.kt
  src/backend/ci/core/notify/api-notify/src/main/kotlin/com/tencent/devops/notify/pojo/messageTemplate/RtxMessageTemplate.kt
  src/backend/ci/core/notify/api-notify/src/main/kotlin/com/tencent/devops/notify/pojo/messageTemplate/WechatMessageTemplate.kt
  src/backend/ci/core/notify/api-notify/src/main/kotlin/com/tencent/devops/notify/pojo/messageTemplate/WeworkGroupMessageTemplate.kt
  src/backend/ci/core/notify/api-notify/src/main/kotlin/com/tencent/devops/notify/pojo/messageTemplate/WeworkMessageTemplate.kt
  src/backend/ci/core/notify/biz-notify/src/main/kotlin/com/tencent/devops/notify/dao/MessageTemplateDao.kt
  src/backend/ci/core/notify/biz-notify/src/main/kotlin/com/tencent/devops/notify/service/NotifyMessageTemplateServiceImpl.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

pref:蓝盾国际化方案优化 #8211
  src/backend/ci/core/store/api-store/src/main/kotlin/com/tencent/devops/store/constant/StoreMessageCode.kt
  src/backend/ci/core/store/biz-store-image/src/main/kotlin/com/tencent/devops/store/service/image/ImageService.kt
  src/backend/ci/core/store/biz-store/src/main/kotlin/com/tencent/devops/store/service/template/impl/MarketTemplateServiceImpl.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

perf: 部分jooq逻辑优化 #8678 签名模块问题修复
  src/backend/ci/ext/tencent/sign/biz-sign-tencent/src/main/kotlin/com/tencent/devops/sign/dao/SignHistoryDao.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat: 修改Git触发的判断条件 Tencent#8570
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/EventCacheService.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/GitScmService.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/tgit/TGitPushTriggerHandler.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat: 修改Git触发的判断条件 Tencent#8570
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/EventCacheService.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat: 修改Git触发的判断条件 Tencent#8570
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/tgit/TGitPushTriggerHandler.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

feat: 修改Git触发的判断条件 Tencent#8570
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/tgit/TGitPushTriggerHandler.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

--story=882947725 记录v0、v3用户鉴权记录
  src/backend/ci/ext/tencent/auth/biz-auth-tencent/src/main/kotlin/com/tencent/devops/auth/service/permission/iam/TxPermissionServiceImpl.kt
  src/backend/ci/ext/tencent/common/common-auth/common-auth-tencent/src/main/kotlin/com/tencent/devops/common/auth/api/BSAuthPermissionApi.kt
Owners: @irwinsun, @mingshewhe, @stubenhuang, @carlyin0801, @royalhuang, @randychen2046, @tangruotian

Goagent版本优化 #8671
  src/agent/go.mod
  src/agent/go.sum
  src/agent/src/pkg/collector/collector.go
Owners: @irwinsun, @tangruotian
