Repository TencentBlueKing/bk-ci, changes with the owners that CODEOWNERS names for each.
All owners: @irwinsun, @zanyzhao, @fighter-liu, @hingbong, @tangruotian, @stubenhuang, @lockiechen, @austingod, @foxdd, @mingshewhe, @carlyin0801, @fitzcao, @owenlxu, @tming, @zhanxu33

feat: stream支持github #6799
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/service/StreamTGitTransferService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/git/service/GithubApiService.kt
Owners: @irwinsun, @mingshewhe, @hingbong, @stubenhuang, @carlyin0801, @fitzcao

bugfix: 构建历史构件列表和APP版本展示问题 issue #3608
  src/frontend/devops-pipeline/src/components/BuildHistoryTable/index.vue
Owners: @zhanxu33

bugfix: 构建历史构件列表和APP版本展示问题 issue #3608
  src/frontend/devops-pipeline/src/components/BuildHistoryTable/index.vue
Owners: @zhanxu33

feat: stream支持github #6799
  src/backend/ci/core/common/common-webhook/api-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/pojo/code/github/GithubCheckRunEvent.kt
  src/backend/ci/core/common/common-webhook/api-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/pojo/code/github/GithubCreateEvent.kt
  src/backend/ci/core/common/common-webhook/api-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/pojo/code/github/GithubEvent.kt
  src/backend/ci/core/common/common-webhook/api-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/pojo/code/github/GithubPullRequestEvent.kt
  src/backend/ci/core/common/common-webhook/api-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/pojo/code/github/GithubPushEvent.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/github/GithubCreateTriggerHandler.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/github/GithubPrTriggerHandler.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/github/GithubPushTriggerHandler.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/tgit/TGitMrTriggerHandler.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/tgit/TGitNoteTriggerHandler.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/service/code/handler/tgit/TGitReviewTriggerHandler.kt
  src/backend/ci/core/common/common-webhook/biz-common-webhook/src/main/kotlin/com/tencent/devops/common/webhook/util/WebhookUtils.kt
  src/backend/ci/core/stream/api-stream/src/main/kotlin/com/tencent/devops/stream/pojo/StreamCommitInfo.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/service/transfer/StreamTransferConfig.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/actions/GitActionCommon.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/actions/github/GithubPushActionGit.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/actions/streamActions/StreamOpenApiAction.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/git/pojo/github/GithubChangeFileInfo.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/git/pojo/github/GithubProjectUserInfo.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/git/pojo/github/GithubRevisionInfo.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/git/service/GithubApiService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/git/service/StreamApiUtil.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/git/service/TGitApiService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/parsers/triggerMatch/TriggerBuilder.kt
  src/backend/ci/core/stream/biz-stream/src/test/kotlin/com/tencent/devops/stream/trigger/actions/EventActionFactoryTest.kt
Owners: @irwinsun, @mingshewhe, @hingbong, @stubenhuang, @carlyin0801, @fitzcao

feat: stream支持github #6799
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/resources/user/UserStreamGitResourceImpl.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/service/StreamBasicSettingService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/service/StreamPipelineService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/actions/streamActions/StreamManualAction.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/actions/streamActions/StreamScheduleAction.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/parsers/PipelineDelete.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/template/YamlTemplateService.kt
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/util/GitCommonUtils.kt
Owners: @irwinsun, @mingshewhe, @hingbong, @stubenhuang, @carlyin0801, @fitzcao

feat: stream支持github #6799
  support-files/sql/2010_ci_stream-update_v1.10_mysql.sql
Owners: @irwinsun

feat: stream支持github #6799
  src/backend/ci/core/stream/biz-stream/src/main/kotlin/com/tencent/devops/stream/trigger/template/YamlTemplateService.kt
Owners: @irwinsun, @mingshewhe, @hingbong, @stubenhuang, @carlyin0801, @fitzcao

CODEOWNERS:

# Where component owners are known, add them here.
/.github @irwinsun
/CODEOWNERS @irwinsun @zanyzhao
/docs @zanyzhao @irwinsun
/*.md @zanyzhao

/scripts @fighter-liu @irwinsun
/src/agent @hingbong @irwinsun @tangruotian
/src/gateway @stubenhuang @irwinsun
/src/app @lockiechen
/src/frontend @lockiechen
/support-files @irwinsun 
/src/backend/codecc @austingod @foxdd
/src/backend/codecc_tools @austingod @foxdd
/src/backend/ci @irwinsun @mingshewhe @hingbong @stubenhuang @carlyin0801 @fitzcao
/src/backend/storage @irwinsun @owenlxu
/src/backend/booster @tming
/src/frontend @zhanxu33
